<nav class="pagination" role="pagination">
    {%- assign base = paginator.first_page_path | replace:'index.html','' -%}

    {% if paginator.previous_page %}
        <a class="arrows newer-posts" href="{{ base | relative_url }}" title="First Page">&laquo;</a>
    {% endif %}

    {%- assign total = paginator.total_pages -%}
    {%- assign current = paginator.page -%}

    {%- assign start = current | minus: 2 -%}
    {%- assign end = current | plus: 2 -%}

    {%- if start > 2 -%}
        <span class="dots title-font">…</span>
    {%- endif -%}

    {%- for page in (1..total) -%}
        {%- if page >= start and page <= end -%}
        {%- if page == current -%}
            <span class="page-number title-font active">{{ page }}</span>
        {%- elsif page == 1 -%}
            <a class="page-number title-font" href="{{ base | relative_url }}">{{ page }}</a>
        {%- else -%}
            <a class="page-number title-font"
            href="{{ base }}page{{ page }}/">{{ page }}</a>
        {%- endif -%}
        {%- endif -%}
    {%- endfor -%}

    {%- if end < total -%}
        <span class="dots title-font">…</span>
    {%- endif -%}

    {% if paginator.next_page %}
    <a class="arrows older-posts"
       href="{{ base }}page{{ total }}/"
       title="Last Page">&raquo;</a>
        <!-- <a class="older-posts" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" title="Next Page">Older &raquo;</a> -->
    {% endif %} 
</nav>