<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span>Catergory</span></h5>
        {% assign cats = "" | split: "" %}
        {% for pair in site.categories %}
            {% assign cats = cats | push: pair[0] %}
        {% endfor %}
        {% assign cats = cats | sort_natural %}
        <ul>            
            {% for category in cats %}
                <li>
                    <a href="{{ site.baseurl }}/categories/{{ category | slugify }}/">{{ site.data.categories[category] | default: category }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <!-- <div class="sidebar-section">
        <h5><span>Your Ad Here</span></h5>
        <img src="{{site.baseurl}}/assets/images/ad.png">
    </div> -->
</div>