<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span>Catrgory</span></h5>
        <!-- {% include newsletter.html %} -->
        <ul>
            <li><a href="/">Java</a></li>
            <li><a href="/">Python</a></li>
            <li><a href="/">SQL</a>
                <ul>
                    <li><a href="/SQL/Oracle">Oracle</a></li>
                    <li><a href="/SQL/MySQL">MySQL</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="sidebar-section">
        <h5><span>Your Ad Here</span></h5>
        <img src="{{site.baseurl}}/assets/images/ad.png">
    </div>
</div>