<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span>Catergory</span></h5>
        <ul>
            {% for category in site.categories %}
            <li><a href="{{ site.baseurl }}/categories/{{ category[0] | slugify }}/">{{ category[0] }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <!-- <div class="sidebar-section">
        <h5><span>Your Ad Here</span></h5>
        <img src="{{site.baseurl}}/assets/images/ad.png">
    </div> -->
</div>