---
title: "Archive"
layout: default
permalink: "/archive.html"
---
<div class="tags-expo">
  {% for post in site.posts %}
    {% assign kst = post.date | date: "%s" | plus: 32400 %}
    {% assign prekst = post.previous.date | date: "%s" | plus: 32400 %}
    {% capture this_year %}{{ kst | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ prekst | date: "%Y" }}{% endcapture %}

    {% if forloop.first %}
      <div class="tags-expo-section">
        <h2 class="post-year" id="{{ this_year }}-ref">{{this_year}}</h2>
        <ul>
    {% endif %}

          <li>
            <p>
              <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}
              </a>
              <span>{{ site.data.categories[post.categories.first] | default: post.categories }}</span>
            </p>
            <small class="post-date">{{ kst | date: "%Y년 %m월 %d일" }}</small>
          </li>

    {% if forloop.last %}
        </ul>
      </div>
    {% elsif this_year != next_year %}
        </ul>
      </div>
      <div class="tags-expo-section">
        <h2 class="post-year" id="{{ next_year }}-ref">{{ next_year }}</h2>
        <ul>
      {% endif %}
    {% endfor %}
</div>