---
layout: default
---

{% if page.autopages and page.autopages.display_name %}
  {% assign page_title = page.autopages.display_name %}
{% else %}
  {% assign page_title = page.title %}
{% endif %}

<h4 class="category-title mt-5 mb-4 pb-2">
  <span class="category-label">Category:</span>
  <span class="category-name">{{ site.data.categories[page_title] | default: page_title }}</span>
</h4>
<section class="row">
  <div class="col-sm-9">
    <div class="row mb-4 pinned">
      {% assign pinned_posts = paginator.posts | where_exp: "post", "post.pin == true" %}
      {% for post in pinned_posts %}
        <div class="col-md-6 mb-5">
        {% include postbox.html %}
        </div>
      {% endfor %}
    </div>
    <div class="row">
      {% assign normal_posts = paginator.posts | where_exp: "post", "post.pin != true" %}
      {% for post in normal_posts %}
        <div class="col-md-6 mb-5">
          {% include postbox.html %}
        </div>
      {% endfor %}
    </div>
    <div class="bottompagination">
      <span class="navigation" role="navigation">
          {% include pagination.html %}
      </span>
    </div>
  </div>
  <div class="col-sm-3">
    {% include sidebar.html %}
  </div>
</section>